{% extends 'base1.html' %}
{% block title%}
Add Employee
{% endblock %}
{% block content %}
   
    
<h1>Add Bin</h1>


<form method="POST" action="{% if bin %} {% url 'Customer:bin.update' bin.id %} {% else %} {% url 'Customer:bin.store' %} {% endif %}" class="" enctype="multipart/form-data" style="border:1px solid #ccc">
    {% csrf_token %}


    <label for="driver">Driver: </label>
    <select class="form-select form-control" name="driver" id="driver" aria-label="Default select example">
        {% for i in driver %}
        <option value="{{ i.id }}">{{ i.driver_full_name}}{{ i.address}}</option>
        {% endfor %}
    </select>


    <label for="grabage_type">Grabage Type: </label>
<br>
    <select id="grabage_type" name="grabage_type">
        <option value="organic">organic</option>
        <option value="non-organic">non organic</option>
        <option value="others">others</option>
      </select>
    <br>

    <label for="address">Address</label>
    <input type="text" class="form-control" id="address" name="address"
        value="{% if bin.address %}{{bin.address}}{% endif %}" placeholder="Address">

        <p id="location">Click the button to get your current location:</p>
        <button id="get-location">Get Current Location</button>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d220.79059443772917!2d85.29583528568119!3d27.697225585327125!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb185c49da9561%3A0xe001b2e6ab749ea9!2sREFRIGERATOR%20WORKSHOP!5e0!3m2!1sen!2snp!4v1682330563380!5m2!1sen!2snp" width="465" height="150" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

<br>
    <button type="submit" class="btn btn-submit btn-success" > {%if bin %} Update {% else %} Submit {% endif %}</button>

</form>
<script>
  var getLocationBtn = document.getElementById("get-location");
  getLocationBtn.onclick = function() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
              var latitude = position.coords.latitude;
              var longitude = position.coords.longitude;
              var csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
              var xhr = new XMLHttpRequest();
              xhr.open('POST', '{% url "Customer:bin.store" %}');
              xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
              xhr.setRequestHeader('X-CSRFToken', csrfToken);
              xhr.onload = function() {
                  if (xhr.status === 200) {
                      alert('Location saved!');
                  } else {
                      alert('Error saving location!');
                  }
              };
              xhr.send('name=Current Location&latitude=' + latitude + '&longitude=' + longitude);
          });
      } else {
          alert('Geolocation is not supported by this browser.');
      }
  };
</script>
{% endblock %}





