{% extends 'base1.html' %}

{% block title %}My Profile{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>{{customer.customer_full_name}}</h3><hr>
            <img src="{{customer.image.url}}" alt="" class="img-fluid" style="height: 2500; object-fit: cover;">
        </div>
        <div class="col-md-4">
            <h3>Detail Information</h3><hr>
            <p><span class="font-weight-bold">Name: </span> {{customer.customer_full_name}}</p>
            <p><span class="font-weight-bold">Username: </span> {{customer.user.username}}</p>
            <p><span class="font-weight-bold">Email: </span> {{customer.user.email}}</p>
            <p><span class="font-weight-bold">Address: </span> {{customer.address}}</p>
            <p><span class="font-weight-bold">Joined on: </span> {{customer.joined_on}}</p>
        </div>
        
    </div>

    <div class="col-md-8">
        <h3>Previous Orders</h3>
        <hr>
        <table class="table">
            <thead>
                <tr>
                    <th>SN</th>
                    <th>Order ID</th>
                    <th>Amount</th>
                    <th>Ordered on</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% if order %}
                {% for e in order %}
                <tr>
                    <td>{{ forloop.counter}}</td>
                    <td>{{e.user.username}}</td>
                    <td>{{e.bin.grabage_type}}</td>
                    <td>{{e.bin.driver.driver_full_name}}</td>
                    <td>{{e.total}}</td>
                    <td><a href="{% url 'Customer:order.create' e.id %}" class="btn btn-outline-warning">Edit</a>
                        </td>
                    
                </tr>
                {% endfor %}
                {% else %}
                <tr>
                    <td colspan="4"><span>
                            No Record Found !
                        </span>
                    </td>
                </tr>
    
                {% endif %}               
            </tbody>
        </table>
    </div>
</div>
{% endblock %}