[<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- bootstrap css cdn -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <!-- Bootstrap icons cdn -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
    <style>
        .content-right{
            float: left !important;
        }
        .bg-custom-color{
            background-color: brown !important;

        }
        .bg-custom-color1{
            background-color: palevioletred;
        }
    </style>

</head>

<body>
    <div class="row">
        <nav class="navbar bg-custom-color">
            <div class="col-md-4">
                <!-- <div class="container"> -->
                <a class="navbar-brand" href="#">
                    <img src="{% static'images/truck.jpg' %}" alt="Bootstrap" width="90" height="50">
                </a>
                <!-- </div> -->
            </div>
            <div class="col-md-8">
                <p>west management system</p>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col-md-4">
            <main class="d-flex flex-nowrap">
                <h1 class="visually-hidden">Sidebars examples</h1>

                <div class="d-flex flex-column flex-shrink-0 p-3 bg-custom-color1" style="width: 280px; height: 600px;">
                    <!-- <div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px;"> -->
                    <a href="/"
                        class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                        <i class="bi bi-house me-3"></i>
                        <span class="fs-4">Sidebar</span>
                    </a>
                    <hr>
                    <ul class="nav nav-pills flex-column mb-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link active" aria-current="page">
                                <i class='bi bi-table me-3'></i>
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <i class='bi bi-table me-3'></i>
                                Dashboard
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <i class='bi bi-table me-3'></i>
                                Orders
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <i class='bi bi-table me-3'></i>
                                Products
                            </a>
                        </li>
                        <li>
                            <a href="#" class="nav-link text-white">
                                <i class='bi bi-table me-3'></i>
                                Customers
                            </a>
                        </li>
                    </ul>
                </div>
        </div>
        <div class="col-md-8 mt-3">
            <div class="row">
                <div class="col-md-6">
                    <div class="d-flex justify-content-around">
                        <button class="btn btn-primary">add user accounts</button>
                        <button class="btn btn-primary">view user accounts</button>
                    </div>
                </div>
                <div class="col-md-6"></div>
            </div>

            <div class="row mt-5">
                <div class="col-md-8 shadow-lg p-5">
                <form action="" class="">
                    <label for="">Username</label>
                    <input type="text">
                </form>
            </div>
            </div>

        </div>
    </div>

</body>

</html>